<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/testForm.css" />
    <title>Test Form</title>
</head>
<body>

    <div class="card col-md-4 mt-5 mb-3 mx-auto">
        <div class="card-header">
            <h3>Create Test</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/test/questions/new" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="testName" class="form-label">Test Name</label>
                    <input name="testName" placeholder="Enter name of the test" type="text" id="testName" class="form-control" required/>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Test Date</label>
                    <input name="date" placeholder="Enter date of test" type="date" id="date" class="form-control" required/>
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Test Timing</label>
                    <input name="time" placeholder="Enter time for the test" type="time" id="time" class="form-control" required/>
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label">Test Duration (in minutes)</label>
                    <input name="duration" placeholder="Enter duration" type="number" id="duration" class="form-control" required/>
                </div>
                <div class="mb-3">
                    <label for="numberOfQues" class="form-label">Total number of Questions</label>
                    <input name="numberOfQues" placeholder="Enter number of Questions" type="number" id="numberOfQues" class="form-control" required/>
                </div>
                <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="branch" required>
                    <option value="" disabled selected>Select branch</option>
                    <option value="lr">Logical Reasoning and Aptitude</option>
                    <option value="ai">Artificial Intelligence</option>
                    <option value="che">Chemical Engineering</option>
                    <option value="chm">Chemistry</option>
                    <option value="ce">Civil Engineering</option>
                    <option value="cse">Computer Science and Engineering</option>
                    <option value="ee">Electrical Engineering</option>
                    <option value="ece">Electronics Engineering</option>
                    <option value="hss">Humanities and Social Sciences</option>
                    <option value="ms">Management Studies</option>
                    <option value="math">Mathematics</option>
                    <option value="me">Mechanical Engineering</option>
                    <option value="phy">Physics</option>
                </select>
                <button class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
    
    <script src="/js/script.js"></script>
</body>
</html>