<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register_login.css">
</head>
<body>
    <%- include("../includes/flash.ejs") %>
    <div class="circle orange"></div>
    <div class="circle blue"></div>
    <div id="container">
        <h1>Admin Login</h1>
        <form method="POST" action="/admin/login" class="needs-validation" novalidate>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="adminUserName" placeholder="Enter Admin Username" id="adminUserName" required>
                <label for="adminUserName">Admin Username</label>
            </div>
            <div class="form-floating mb-3 position-relative">
                <input type="password" class="form-control" name="password" placeholder="Enter Password" id="password" required>
                <label for="password">Password</label>
                <button id="btn" type="button"><i class="fa fa-eye-slash"></i></button>
            </div>
            <button class="btn btn-dark mb-3" id="login">Login</button>
        </form>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <!-- <script src="/js/register_login.js"></script> -->
    <script>
        let i=document.querySelector("i");
        let input=document.querySelector("#password");
        let btn=document.querySelector("#btn");
        btn.addEventListener("click", () => {
            if (i.classList.contains("fa-eye")) {
                i.classList.replace("fa-eye", "fa-eye-slash");
                input.type = "password"; 
            } else {
                i.classList.replace("fa-eye-slash", "fa-eye");
                input.type = "text"; 
            }
        });
    </script>
</body>
</html>
