<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/register_login.css">
<title>Register</title>
</head>

<body>
    <%- include("../includes/flash.ejs") %>
    <div class="circle orange"></div>
    <div class="circle blue"></div>
    <div id="container">
        <h1>Register Here</h1>
        <form method="post" action="/register" class="needs-validation" novalidate>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" placeholder="Enter Admission Number"
                    id="username" required>
                <label for="username">Admission number</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" placeholder="Enter Institute Email" id="email"
                    required>
                <label for="email">Institute email</label>
            </div>
            <div class="form-floating mb-3 password-wrapper">
                <input type="password" class="form-control" name="password" placeholder="Enter Password" id="password"
                    required>
                <label for="password">Password</label><button id="btn" type="button"><i
                        class="fa fa-eye-slash"></i></button>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="name" placeholder="Enter Full Name" id="name" required>
                <label for="name">Full name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="phone" placeholder="Enter Phone Number" id="phone"
                    required>
                <label for="phone">Phone number</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="year" placeholder="Year" id="year" required>
                <label for="year">Year</label>
            </div>
            <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="branch" required>
                <option value="" disabled selected>Select branch</option>
                <option value="ai">Artificial Intelligence</option>
                <option value="che">Chemical Engineering</option>
                <option value="chm">Chemistry</option>
                <option value="ce">Civil Engineering</option>
                <option value="cse">Computer Science and Engineering</option>
                <option value="ee">Electrical Engineering</option>
                <option value="ece">Electronics Engineering</option>
                <option value="hss">Humanities and Social Sciences</option>
                <option value="ms">Management Studies</option>
                <option value="math">Mathematics</option>
                <option value="me">Mechanical Engineering</option>
                <option value="phy">Physics</option>
            </select>
            <button class="btn btn-dark mb-3" id="register">Register</button>
            <p>Already have an account? &MediumSpace;<a href="/login">Log in</a>
            </p>
        </form>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/register_login.js"></script>
</body>

</html>